/**
 * CSS para o modelo Captcha (NÃO É OBRIGATÓRIO)
 Este css foi especificado apenas para fins de formatação de página
 Fica a critério de cada desenvolvedor utilizá-lo ou não.
 */
input {
	float: left;
	display: block;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	border: 1px solid #9c9c9c;
	margin-bottom: 4px;
	margin-right: 4px;
	margin-left: 4px;
}

input.desabilitado{
	background-color: #dddddd;
}
input.habilitado{
	background-color: #ffffff;
}
input[type="hidden"] {
	border:none;
}

label {
	text-align: right;
	float:left;
	display: block;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #24498a;
}

br {
	clear:left;
}

.botoes {
	display: block;
	float: right;
	margin-top: 15px;
	border: 1px solid #7a97c6;
	background-color: #edf2f7;
	cursor: pointer;
}

.botoesHover {
	display: block;
	float: right;
	margin-top: 15px;
	border: 1px solid #7a97c6;
	cursor: pointer;
	background-color: #ffffff;
}

.tituloFieldset {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #24498A;
	margin-left: 6px;
	margin-top: 18px;
	display: block;
}

fieldset {
	border-top: 1px dashed #000000;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background: #f0f1f4;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 5px;
	margin-top: 2px;
	margin-left: 6px;
	margin-right: 6px;
}

legend {
	display: none;
}

.divMiolo { position: relative; left: 1%; width:98%; }

.caixaTitulo {
	width: 596px;
	height: 18px;
	border: 1px solid #A3B3Ca;
	background-color: #e7eff7;
	margin: 0px;
}

.caixaRecuada {
	width: 590px;
	margin-left: 6px;
	border-left: 1px solid #A3B3Ca;
	border-right: 1px solid #A3B3Ca;
	border-bottom: 1px solid #A3B3Ca;
	padding-top: 1px;
	margin-bottom: 30px;
}

.titFormulario {
	vertical-align: middle;
	float: left;
	display: block;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	margin-left: 12px;
	margin-top: 3px;
	color: #24498a;
}

.linkImagem {
	color: #3366CC;
	font-size: 9px;
	float:none;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.linkSom {
	color: #3366CC;
	font-size: 9px;
	float:none;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.textoInformativo {
	color: #24498a;
	font-size: 9px;
	text-decoration: none;
	margin-botton: 0px;
	margin-top: 0px;
	float:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
